.side-drawer {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    min-width: 210px;
    height: 100vh;
    background-color: #B2B09C;
  }
  
  @media (min-width: 768px) {
    .side-drawer {
      display: none;
    }
  }